<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.materiallogindemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalVariable"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".StatsYearFourteen"></activity>
        <activity android:name=".StatsYearThirteen" />
        <activity android:name=".StatsYearTwelve" />
        <activity android:name=".StatsYearEleven" />
        <activity android:name=".StatsYearTen" />
        <activity android:name=".StatsYearNine" />
        <activity android:name=".StatsYearEight" />
        <activity android:name=".StatsYearSeven" />
        <activity android:name=".StatsYearSix" />
        <activity android:name=".StatsYearFive" />
        <activity android:name=".StatsYearFour" />
        <activity android:name=".StatsYearThree" />
        <activity android:name=".StatsYearTwo" />
        <activity android:name=".StatsYearOne" />
        <activity android:name=".StatsMonthEleven" />
        <activity android:name=".StatsMonthTen" />
        <activity android:name=".StatsMonthNine" />
        <activity android:name=".StatsMonthEight" />
        <activity android:name=".StatsMonthSeven" />
        <activity android:name=".StatsMonthSix" />
        <activity android:name=".StatsMonthFive" />
        <activity android:name=".StatsMonthFour" />
        <activity android:name=".StatsMonthThree" />
        <activity android:name=".StatsMonthTwo" />
        <activity android:name=".StatsMonthOne" />
        <activity android:name=".CgStatsYearActivity" />
        <activity android:name=".CgStatsMonthActivity" />
        <activity android:name=".CgStatisticsActivity" />
        <activity android:name=".FiringBulletinActivity" />
        <activity android:name=".AdminRulesInspect" />
        <activity android:name=".AdminRulesComIndPort" />
        <activity android:name=".AdminRulesCondSS" />
        <activity android:name=".AdminRulesPrivTele" />
        <activity android:name=".AdminRulesCWPac" />
        <activity android:name=".AdminRulesParkMan" />
        <activity android:name=".AdminRulesPubRep" />
        <activity android:name=".AdminRulesOilPoll" />
        <activity android:name=".AdminRulesRewClue" />
        <activity android:name=".AdminRulesLostIt" />
        <activity android:name=".AdminRulesShoRad" />
        <activity android:name=".AdminRulesNarc" />
        <activity android:name=".AdminRulesResPro" />
        <activity android:name=".CommDealTrans" />
        <activity android:name=".CommDealEnvi" />
        <activity android:name=".CommDealMinDef" />
        <activity android:name=".CommDealMinFin" />
        <activity android:name=".CommDealAgr" />
        <activity android:name=".CommDealReg" />
        <activity android:name=".CommDealCompen" />
        <activity android:name=".CommDealPF" />
        <activity android:name=".CommOrgPIrules" />
        <activity android:name=".CommOrgTestingreg" />
        <activity android:name=".CommOrgTesting" />
        <activity android:name=".CommOrgOrgrules" />
        <activity android:name=".CommOrgWorkrules" />
        <activity android:name=".CommOrgGuidelines" />
        <activity android:name=".CommOrgProcedure" />
        <activity android:name=".CommOrgTable" />
        <activity android:name=".CommSheet" />
        <activity android:name=".CommProcedures" />
        <activity android:name=".CommRules" />
        <activity android:name=".CommTraining" />
        <activity android:name=".CommJurisdiction" />
        <activity android:name=".CommandDealActivity" />
        <activity android:name=".CommandOrgActivity" />
        <activity android:name=".CommandIaActivity" />
        <activity android:name=".LawOrgActivity" />
        <activity android:name=".LawIaActivity" />
        <activity android:name=".CgaRegulationsActivity" />
        <activity android:name=".CgaCommandsActivity" />
        <activity android:name=".CgaAdminRulesActivity" />
        <activity android:name=".CgaLawActivity" />
        <activity android:name=".SopCategoryActivity" />
        <activity
            android:name=".ChangePasswordCategoryActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".CommonShipCategoryActivity" />
        <activity android:name=".EnglishListView" />
        <activity android:name=".DutyListView" />
        <activity android:name=".LawListView" />
        <activity android:name=".CategoryListView" />
        <activity android:name=".MainListView" />
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".YoutubeViewActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".EnglishCourseActivity" />
        <activity android:name=".DutyCourseActivity" />
        <activity android:name=".LawCourseActivity" />
        <activity android:name=".LearnCategoryActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>